node_modules
.cache
public/*
dist
!public/.gitkeep
.env
.env.test
.cache
logs/
WWebJS/


yarn.lock
yarn-error.log

/src/config/sentry.js

# Ignore test-related files
/coverage.data
/coverage/

.quasar/

backend/.wwebjs_auth/
backend/newrelic_agent.log
newrelic_agent.log
