.editorconfig
.gitattributes
.github
.gitignore
.idea
.pre-commit-config.yaml
.readthedocs.yml
venv
node_modules
.data
.dockerignore
npm-debug.log
Dockerfile
DockerfileARM
.git
.gitignore
.data
.vscode
logs
public
.wwebjs_auth
