node_modules
.cache
public/*
dist
!public/.gitkeep
.env
.env.test
.cache
logs/
WWebJS/


yarn.lock
yarn-error.log

/src/config/sentry.js

# Ignore test-related files
/coverage.data
/coverage/

.wwebjs_auth/
.wwebjs_auth/*
*/.wwebjs_auth/
./.wwebjs_auth/*
.wwebjs*/
WWebJS/
.wwebjs_auth/

backend/newrelic_agent.log
newrelic_agent.log

.data/
reports/report.json
reports/report.html
