node_modules
.cache
public/*
dist
!public/.gitkeep
.env
.env.test
.cache
logs/
WWebJS/


package-lock.json
yarn.lock
yarn-error.log

/src/config/sentry.js

# Ignore test-related files
/coverage.data
/coverage/

.wwebjs_auth/
.wwebjs_auth/*
*/.wwebjs_auth/
./.wwebjs_auth/*
.wwebjs*/
WWebJS/
/home/durans/Projetos/izing.io/backend/.wwebjs_auth

backend/newrelic_agent.log
newrelic_agent.log
