.david-droga-area{
    .single-david{
        .david-img{
            overflow: hidden;
            & img{
                width: 100%;
                transform:scale(1);
                @include transition(.7s);
                }
        }
        .david-captoin{
            padding: 40px 57px 0px 60px;
            @media #{$md}{
                padding: 10px 10px 0px 10px;
            }
            @media #{$sm}{
                padding: 10px 10px 0px 10px;
            }
            @media #{$xs}{
                padding: 10px 10px 0px 10px;
            }
            .david-info{
                & li{
                    display: inline-block;
                    margin-right: 14px;
                    padding-right: 14px;
                    border-right: 1px solid #222;
                    line-height: 1;
                    margin-bottom: 16px;
                    @media #{$xs}{
                        margin-right: 1px;
                        padding-right: 5px;
                        padding-right: 12px;
                    }
                    &:last-child{
                        margin-right: 0px;
                        padding-right: 0px;
                        border-right: 0;
                    }
                }
            }
            & h2{

                & a{
                    color:#282828;
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 1.5;
                    padding-right: 56px;
                    margin-bottom:17px;
                    text-decoration: none;
                    display: block;
                    @media #{$md}{
                        padding-right: 6px;
                    }
                    @media #{$xs}{
                        padding-right: 0px;
                    }
                }
            }
            & a{
                color: #282828;
                font-size: 16px;
               
                &:hover{
                    color: $theme_color;
                }
                &.d-btn{
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        background:#282828;
                        width: 100%;
                        height: 1px;
                        bottom: -1px;
                        @include transition(.3s)
                    }
                }
            }
        }
    }
}

.david-droga-area .single-david .david-captoin a:hover::before{
    background:$theme_color;
}
// .single-david:hover .david-img img{
// 	transform:scale(1.1);
// }
.david-img:hover .david-img img{
	transform:scale(1.1);
}
