
// what we will do start
.choose-best{
    //shape // left shape
    position: relative;
    &::before{
        background-image: url(../img/shape/choose_your.png);
        position: absolute;
        content: "";
        z-index: -1;
        background-repeat: no-repeat;
        right: 0px;
        width: 511px;
        height: 971px;
        bottom: -85px;
        @media #{$md}{
            display: none;
        }
        @media #{$sm}{
            display: none;
        }
        @media #{$xs}{
            display: none;
        }
    }
    // 
    &::after{
        background-image: url(../img/shape/plus3.png);
        position: absolute;
        content: "";
        z-index: -1;
        min-height: 20px;
        min-width: 20px;
        background-repeat: no-repeat;
        left: 100px;
        bottom: 0;
        @media #{$laptop}{
            display: none;
        } 
        @media #{$md}{
            display: none;
        }
         @media #{$sm}{
            display: none;
        }
        
        @media #{$xs}{
            display: none;
        }
        // bonce
        animation: heartbeat 1s infinite alternate;
        @-webkit-keyframes heartbeat {
            to {
                -webkit-transform: scale(1.5);
                transform: scale(1.5);
            }
        }
    } 
    .single-choose{
        @include transition(.3s);
        padding:56px 40px 69px;
        border: 1px solid #ececec;
        border-radius: 6px;
        background: #fff;
        .do-icon{
            span{
                font-size: 73px;
                margin-bottom: 10px;
                display: inline-block;
                color: $theme_color;
            }
        }
        .do-caption{
            h4{
                font-size: 35PX;
                font-weight: 700;
                margin-bottom: 42px;
                color: $heading-color;
            }
            ul{
                li{
                    
                    color: #57667e;
                    margin-bottom: 17px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                   
                }
            }
        }
    }
}
// Hover
.single-choose:hover {
    box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
    border: 1px solid transparent;
    .do-btn a {
        color: #7b40c0;
        
        & i{
            background:#7b40c0;
        }
    }
}
.single-choose.active {
    box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
    border: 1px solid transparent;
    .do-btn a {
        color: #7b40c0;

        & i{
            background:#7b40c0;
        }
    }
}


// what we will do End