.generating-area{
    .single-generating{
        border: 1px solid#f2f2f2;
        padding: 36px 54px 25px 56px;
        border-radius: 10px;
        @media #{$md}{
            padding: 20px 20px 20px;
        } 
        @media #{$sm}{
            padding: 20px 8px 20px;
        }
        @media #{$xs}{
            padding: 20px 8px 20px;
        }
        @include transition(.4s);
    }
        .generating-icon{
            span{
                color: $theme_color;
                font-size: 60px;
                @media #{$md}{
                   font-size:  41px;
                }
                @media #{$sm}{
                   font-size:  41px;
                }
                @media #{$xs}{
                   font-size:  41px;
                }
               
            }
        }
        .generating-cap{
            padding-left: 28px;
            h4{
                color: $heading_color;
                font-size: 20px;
                font-weight: 600;
                line-height: 1.3;
                margin-bottom: 29px;
                @media #{$xs}{}
            }
            p{
                @media #{$md}{
                   font-size: 15px;
                }
                @media #{$sm}{
                   font-size: 15px;
                }
                @media #{$xs}{
                   font-size: 15px;
                }
            }
        }
    }

    .single-generating:hover{
        box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
    }
