.haveAproject {
	padding: 64px 69px 54px 78px;
	background-repeat: no-repeat;
	border-radius: 10px;
    position: relative;
    @media #{$md}{
        padding: 42px 69px 36px 57px;
    }
    @media #{$sm}{
        padding: 42px 19px 36px 40px
    }
    @media #{$xs}{
        padding: 42px 19px 36px 40px
    }
    
    &::before{
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        content: "";
        @extend %haveProject;
        border-radius: 10px;
        opacity: 0.95;
    }
    .wantToWork-caption{
        h2{
            color: #fff;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.4;
            margin-bottom: 13px;
            @media #{$sm}{
                padding-right: 20px;
                margin-bottom: 18px;
            }
            @media #{$xs}{
                margin-bottom: 18px;
                font-size: 31px;
            }
        }
        p{
            color: #fff;
            @media #{$lg}{
                padding-right: 20px;
            }
            @media #{$md}{
                padding-right: 20px;
                margin-bottom: 30px;
            }
            @media #{$sm}{
                margin-bottom: 30px;
            }
            @media #{$xs}{
                margin-bottom: 30px;
                font-size: 15px;
            }
        }
    }
    .wantToWork-btn{
        @media #{$md}{
            float: left;
        }
        @media #{$sm}{
            float: left;
        }
        @media #{$xs}{
            float: left;
        }
    }
} 
