// section Tittle
.section-tittle{
    & h2{
        color: $heading_color;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 66px;
        line-height: 1.3;
        @media #{$xs}{
			font-size: 39px;
            line-height: 1.3;
		}
    }
}


// what we will do start
.what-we-do{
    .single-do{
        @include transition(.3s);
        &.active{
            box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
        }
        padding:56px 40px 69px;
        .do-icon{
            span{
                font-size: 73px;
                margin-bottom: 20px;
                display: inline-block;
                color: $theme_color;
            }
        }
        .do-caption{
            h4{
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 23px;
            }
            p{
                margin-bottom: 40px;
                // padding: 0 40px;
                @media #{$xs}{ }
            }
        }
        .do-btn{
            a{
                color: #c5ccd8;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 500;
                @include transition(.3s);
                
                i{
                    background: #c5ccd8;
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    line-height: 24px;
                    color:#fff;
                    border-radius: 50%; 
                    margin-right: 7px;
                    @include transition(.3s);
                }
            }
        }
    }
}
// Hover
.single-do:hover {
    box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
    .do-btn a {
        color: #7b40c0;
        & i{
            background:#7b40c0;
        }
    }
}


// what we will do End