.testimonial-area{
    // shape
    .testimonial-main{
        position: relative;
        &::before{
            position: absolute;
            content: '\f107';
            font-family: Flaticon;
            font-style: normal;
            font-size: 86px;
            z-index: 1;
            left: 0;
            top: 96px;
            color:#e3def0; 
            transform: rotate(180deg);
            @include transition(.4s);
            @media #{$md}{
                display: none;
            }
            @media #{$sm}{
                display: none;
            }
            @media #{$xs}{
                display: none;
            }
            
        }
        &::after{
            position: absolute;
            content: '\f107';
            font-family: Flaticon;
            font-style: normal;
            font-size: 86px;
            z-index: 1;
            right: 0;
            bottom: 0;
            color:#e3def0;
            @include transition(.4s);
            @media #{$md}{
                display: none;
            }
            @media #{$sm}{
                display: none;
            }
            @media #{$xs}{
                display: none;
            }
            
    }

    .testimonial-caption{
        .testimonial-top-cap{
            & p{
                font-weight: 300;
                font-style: italic;
                line-height: 1.5;
                font-size: 20px;
                padding: 0 23px;
                margin-bottom: 50px;
                @media #{$lg}{
                    font-size: 20px;
                }
                @media #{$md}{
                    font-size: 20px;
                }
                @media #{$md}{
                    font-size: 18px;
                }
                @media #{$xs}{
                    font-size: 18px;
                }
                // margin
                @media #{$md}{
                    margin-bottom: 30px;
                }
                @media #{$xs}{
                    margin-bottom: 30px;
                    padding: 0px;
                    font-size: 16px;
                }
            }
        }
        .testimonial-founder{
            text-align: left;
            .founder-text{
                margin-left: 20px;
                & span{
                    color:#2e1088;
                    font-size: 25px;
                    font-weight: 600;
                }
                & p{
                    font-weight:500;
                    line-height:1.5 ;
                    color: #707b8e;
                    @media #{$xs}{
                       
                    }
                }
            }
        }
        
    }
}

.testimonial-main:hover{
    &::before, &::after{
        color: #c2aff2;
    }
}

/* Homepage1 Testimonial */
.h1-testimonial-active{
    button.slick-arrow {
        position: absolute;
        top: 50%;
        left: -133px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        border: 0;
        padding: 0;
        z-index: 2;
        height: 45px;
        width: 45px;
        line-height: 15px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 20px;
        @include transition(.3s);
        color: #fff;
        // Hide btn
        opacity: 0;
        visibility: hidden;
        background: $theme-color;

        @media #{$sm}{
            left: -45px;
        }
         @media #{$sm}{
            left: -45px;
        }
        
    } 
   button.slick-next {
        left: auto;
        right: -133px;
        @media #{$sm}{
            right: -45px;
        }
    }
    &:hover button.slick-prev {
        left: -120px;
        @media #{$sm}{
            left: -35px;
        }
    }
    &:hover button.slick-next {
    right: -120px;
    @media #{$sm}{
        right: -37px;
    }
    }
    &:hover button {
        // Show btn
        opacity: 1;
        visibility: visible;
    }
}

.slick-initialized .slick-slide {
    outline: 0;
}
}